<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/show.css" />
    <script src="https://kit.fontawesome.com/7057524a5c.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>

</head>

<body>
    <div class="container">
        <img src="../../assets/images/kitten.jpg" class="img-fluid" alt="Responsive image">
        <a href="<%= carts_path %>" class="btn btn-outline-danger" data-method="POST">Ajouter au panier</a>
    <div>
</body>
</html>