.carousel-item
{
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodybg
{
    background-color: rgb(255, 255, 255);
}

.newsletter
{
  display: flex;
  margin-left: 40%;
  margin-top: 3rem;
  width: 20%;
  justify-items: center;
}