.login
{
  display: flex;
  width: 20%;
  margin-left: 40%;
  margin-top: 2rem;
}

.btnsignup
{
  width: 18%;
  height: 5%;
  margin-left: 41%;
  margin-top: 2rem;
  background-color: rgb(175, 230, 175);
  color: white;
}

.form-signup
{
    margin-top: 10rem;
}

.read-and-agree
{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}