<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/signup.css" />
    <script src="https://kit.fontawesome.com/7057524a5c.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
<!--   <link href="carousel.css" rel="stylesheet"> -->

    
</head>

<body class="bodybg text">
  
  <form class="form-signup">

    <div class="login">
        <input type="email" id="inputFirstname" class="form-control" placeholder="Firstname" required autofocus>
    </div>
    <div class="login">
        <input type="email" id="inputLastname" class="form-control" placeholder="Lastname" required autofocus>
    </div>
    <div class="login">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    </div>  
    <div class="login">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <div class="login">
        <input type="password" id="inputPassword" class="form-control" placeholder="Confirm password" required>
    </div>
    <div class="read-and-agree mb-3">
        <label>
          <input type="checkbox" value="read-and-agree"> I agree to the terms and conditions.
        </label>
      </div>
    <button class="btnsignup btn-lg btn-block" witdh="10%" type="submit">Create new account</button>
  </form>

</body>
</html>